<nav class="navbar navbar-expand navbar-light bg-light main-header">

  <div class="container">
   
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" class="btn btn-info" href="#" aria-current="page">Sistema <span
          class="visually-hidden">(current)</span></a>&nbsp;
      <a class="nav-item nav-link" class="btn btn-info" routerLink="listar-tarea">Listar Tareas</a>&nbsp;

    </div>
  
    <div class="card">
  
      <div class="card-header">
        ToDo List
      </div>
  
      <div class="card-body">
  
        <div class="table-responsive">
          <a class="btn btn-info" routerLink="/agregar-tarea">Agregar una Tarea</a>&nbsp;  
  
        </div>
  
      </div>
    </div>
  
  
  </div>
  
  
  </nav>
  
    <br>
    <router-outlet>
  
    </router-outlet>